<mat-tab-group>
  <mat-tab label="Save">
    <form [formGroup]="f1"><!--formGroup-->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Domain name</mat-label>
        <input matInput placeholder="Ex.facebook" formControlName="domainName" ><!--formControl-->
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password"  >
      </mat-form-field>
      <button mat-raised-button color="warm" type=submit (click)="saveDetails()">Save Password</button>
    </form>
      

  </mat-tab>
  <mat-tab label="Update"> 
    <form [formGroup]="f2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Domain name to update</mat-label>
        <input matInput placeholder="Ex.facebook" formControlName="domainName" >
      </mat-form-field>
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> new password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="warm" type="submit" (click)="updateDetails()">update Password</button>
    </form>
     </mat-tab>
  <mat-tab label="Delete"> 
    <form [formGroup]="f3">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Domain name to delete</mat-label>
        <input matInput placeholder="Ex.facebook" formControlName="dName">
      </mat-form-field>
      <button mat-raised-button color="warm" type="submit" (click)="delDetails()">Delete</button>
    </form>
     </mat-tab>
</mat-tab-group>